<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark p-2"
  ng-controller="AuthController"
>
  <a class="navbar-brand" href="#">MEAN Games</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="/" [routerLink]="['/']"
        >Home</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['/profile']"
        routerLinkActive="profile"
        >Profile</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['/register']"
        routerLinkActive="register"
        >Register</a
      >
    </div>
  </div>

  <!-- if user is unAuthenticated -->
  <form class="form-inline" name="loginForm">
    <input
      class="form-control mr-2"
      type="text"
      name="username"
      placeholder="User name"
      aria-label="User name"
      ng-model="user.username"
    />
    <input
      class="form-control mr-2"
      type="password"
      placeholder="Password"
      aria-label="Password"
      name="password"
      ng-model="user.password"
    />
    <button class="btn btn-primary" type="submit" ng-click="login()">
      Login
    </button>
  </form>

  <!-- If user is authenticated -->
  <span class="navbar-text" ng-if="isAuthenticated()"
    >Welcome
    <button class="btn btn-danger" ng-click="logout()">Logout</button>
  </span>
</nav>
